@import '../variables.css';

ul {
    padding: 0;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: var(--theme-page-text);
}

.languages, .nav {
    display: flex;
    justify-content: center;
}

.nav li {
    margin: 10px;
    height: 32px;
    font-weight: bold;
    cursor: pointer;
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.active {
    color: var(--theme-page-icon);
    border-bottom: 3px solid var(--theme-page-icon);
}

.nav{
    border-top: 3px solid var(--theme-page-text);
    border-bottom: 3px solid var(--theme-page-text);
}