.settings-container{
    display: inline-flex;
    position: relative;
    flex-shrink: 0;
    vertical-align: middle;
}

.settings-not-empty{
    cursor: pointer;
}

.settings-badge-value{
    border-radius: 10px;
    align-items: center;
    font-size: 0.75rem; /* menor tamaño para notificaciones*/
    height: 20px;
    display: flex;
    padding: 0 6px;
    position: absolute;
    color: #fff;
    background-color: #04AA6D;
    right: 0;
    transform: scale(1) translate(50%, -50%);
}


.settings-relative{
    position: relative;
    display: flex;
    justify-content: center;
}

#mySettings {
    background: rgba(4, 170, 109,.98);
}

.dropdown-content {
    display: block;
    position: absolute;
    right: auto;
    top: 25px;
    right: 5%;
    background-color: #04AA6D;
    width: 240px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /*buena sombra*/
    border-radius: 10px;
    z-index: 1;
}

.center {
    text-align: center;
    vertical-align: middle;
}

.dropdown-content span {
    color: white;
    text-decoration: none;
    display: block;
    background-color: transparent;
}

.settings_user_dropdown_menu{
    padding: 12px 16px;
    cursor: pointer;
    border-top: 2px solid #fff;
}

.settings_user_dropdown_menu .container-switcher{
    margin-bottom: 0;
}

.dropdown-content span .label-switcher{
    padding: 0;
}

.slider.round{
    padding: 0;
}

.dropdown-title{
    width: 90%;
    margin: 10px auto;
    padding: 5px 0;
    background-color: darkblue;
    border-radius: 100px;
}